<%- include('../header') %>

<form method="POST" action="/publicacoes/editar/<%= categoria %>/<%= publicacoes.id %>">
    <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Insira o título" value="<%= publicacoes.titulo %>">
    </div>
    <div class="form-group">
            <label for="conteudo">Conteúdo</label>
            <input type="text" class="form-control" id="conteudo" name="conteudo" placeholder="Insira o conteúdo" value="<% publicacoes.conteudo %>">
    </div>
    <button type="submit" class="btn btn-light">Salvar</button>
</form>

<%- include('../footer') %>