<%- include('../header') %>
<a  class="btn btn-light" href="/publicacoes/nova">Nova publicação</a><br  />

<table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Publicações</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            <% publicacoes.forEach(publicacao => { %>
            <tr>
                    <td scope="row"><%= publicacao.titulo  %> </td>
                    <td>
                            <a href="/publicacoes/editar/<%= publicacao.id %>" >Editar</a> %>
                            <a href="/publicacoes/excluir/<%= publicacao.id %>" >Excluir</a> %>
                    </td>
            </tr>
        <% }) %> 
        </tbody>
      </table>
<%- include('../footer') %>